<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>criacao</h1>
    <form action="{% url 'criacao'%}" method="post">{%csrf_token%}
        <input type="text" placeholder="nome completo" name="nome">
        <input type="email" placeholder="email" name="email">
        <input type="number" placeholder="tefefone" name="telefone">
        <input type="text" placeholder="empresa" name="empresa">
        <input type="text" placeholder="cargo" name="cargo">
        
        <button type="submit" class="btn btn-primary"onclick="location.href='{% url 'listagem' %}'">Salvar</button>
        <button type="reset" class="btn btn-success" onclick="location.href='{% url 'listagem' %}'">Volta</button>
    </form>
</body>
</html>